.Header{
    width: 100%;
    height: 60px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 60px;
}